---
import { Image } from "astro:assets";
import item1 from "../assets/item1.png";
import item1_2 from "../assets/item1_2.png";
---

<section>
  <div class="intro">
    <h2>Lorem ipsum dolor, sit amet</h2>
    <div class="title">
      <Image class="item naveL" src={item1} alt="item" />
      <Image class="item naveR" src={item1_2} alt="item" />
      <h1>Lorem ipsum dolor</h1>
    </div>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, in quae,
      commodi rerum maiores cum consequuntur itaque, aliquam recusandae
      cupiditate a! Tempora, assumenda nisi? Aliquam assumenda obcaecati illo et
      sunt!
    </p>
  </div>

  <div class="info">
    <div class="video">
      <iframe
        src="https://www.youtube.com/embed/SAdulUeKpsM?si=sLX20zC9ZCv-lTHE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
    <div class="description">
      <h2>Lorem ipsum dolor, sit</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id sequi cum
        corrupti veritatis esse praesentium vero quo
      </p>
    </div>
  </div>
</section>

<style>
  .intro {
    color: #fff;
    text-shadow: 0 5px 10px #0004;
    text-align: center;
    width: 70%;
    padding-top: 4vh;
    margin: 0 auto;

    h2 {
      font-size: calc(1vw + 1em);
      margin: 0;
      font-family: "Silkscreen", serif;
      font-weight: 400;
      font-style: normal;
    }

    h1 {
      font-size: calc(3vw + 1em);
      margin: 0;
      padding-bottom: 20px;
      font-family: "Press Start 2P", serif;
      font-weight: 400;
      font-style: normal;
    }

    p {
      font-size: calc(0.8vw + 0.5em);
      font-family: "VT323", serif;
      font-weight: 400;
      font-style: normal;
      text-align: start;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    text-shadow: 0 0 1em #ffffffda;
    position: relative;
    overflow: hidden;

    h1 {
      position: absolute;
      text-align: center;
      width: fit-content;
    }
  }

  .item {
    scale: 1.5;
  }

  .info {
    width: 85%;
    margin: 0 auto;
    padding-top: 6vw;
    display: flex;
    align-content: center;
    margin-bottom: 100px;
  }
  .video {
    width: 70%;
    height: 28vw;
    margin-right: 5vw;
    overflow: hidden;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .description {
    width: 40%;
    font-family: sans-serif;
    font-weight: bolder;
    color: #fff;
    text-shadow: 0 5px 10px #0004;

    h2 {
      font-size: calc(1vw + 1.2em);
      margin: 0;
      font-family: "Silkscreen", serif;
      font-weight: 400;
      font-style: normal;
    }

    p {
      font-size: calc(0.8vw + 0.5em);
      font-family: "VT323", serif;
      font-weight: 400;
      font-style: normal;
    }
  }

  @media (max-width: 900px) {
    .intro {
      width: 80%;
      margin: auto;
      p {
        font-size: calc(0.8vw + 0.8em);
      }
    }

    .info {
      display: block;
      width: 100%;
      height: 50vw;
    }
    .video {
      width: 80%;
      height: 100%;
      margin: auto;
    }
    .description {
      width: 80%;
      margin: auto;
    }

    .item {
      scale: 1.2;
    }
  }

  @media (max-width: 400px) {
    .info {
      width: 100%;
      height: 60vw;

      p {
        font-size: calc(0.8vw + 1em);
      }
    }

    .video {
      width: 100%;
      height: 100%;
    }

    .description {
      width: 80%;
    }

    .title {
      width: 120%;
      transform: translateX(-10%);
      gap: 4vw;
    }
    .item {
      scale: 0.9;
      margin: auto;
    }
  }
</style>
