---
import { Image } from "astro:assets";
import razas from "../assets/razas.png";
import naves from "../assets/naves.png";
import luffy from "../assets/Luffy.jpg";
---

<main>
  <h1>Gallery</h1>
  <section id="section">
    <div class="pin-wrap-sticky">
      <div class="pin-wrap">
        <div class="slider">
          <div class="info">
            <h2>title 1</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Consequatur, nihil!
            </p>
          </div>
          <Image id="img1" class="item" src={razas} alt="razas" />
        </div>
        <div class="slider">
          <div class="info">
            <h2>title 2</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Consequatur, nihil!
            </p>
          </div>
          <Image id="img2" class="item" src={naves} alt="naves" />
        </div>
        <div class="slider">
          <div class="info">
            <h2>title 3</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Consequatur, nihil!
            </p>
          </div>
          <Image id="img3" class="item" src={luffy} alt="luffy" />
        </div>
      </div>
    </div>
  </section>
</main>

<style>
  @keyframes move {
    to {
      transform: translateX(calc(-100% + 100vw));
    }
  }

  @-webkit-keyframes rotate-out-tl {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-140deg);
      transform: rotate(-140deg);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
      opacity: 0;
    }
  }
  @keyframes rotate-out-tl {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-140deg);
      transform: rotate(-140deg);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
      opacity: 0;
    }
  }

  #section {
    height: 500vh;
    overflow: visible;
    color: #fff;
    font-size: calc(1vw + 1em);
    margin: 0;
    font-family: "Silkscreen", serif;
    font-weight: 400;
    font-style: normal;
    word-break: break-word;
    text-shadow:
      0 1px 10px #ffeb55,
      0 2px 10px #d91656,
      0px 3px 45px #81127c;

    view-timeline-name: --section-pin-tl;
    view-timeline-axis: block;
  }

  h1 {
    color: #fff;
    font-size: calc(3vw + 1em);
    margin: 0;
    padding-bottom: 20px;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    word-break: break-word;
    text-shadow:
      0 0 5px black,
      0 1px 10px #ffeb55,
      0 2px 10px #d91656,
      0px 3px 45px #81127c;
    text-align: center;
  }

  .pin-wrap-sticky {
    height: 100vh;
    width: 99vw;
    position: sticky;
    top: 0;
    overflow-x: hidden;
  }

  .pin-wrap {
    height: 100vh;
    width: 320vmax;
    display: flex;
    position: relative;
    padding-right: 10%;

    will-change: transform;
    animation: linear move forwards;

    animation-timeline: --section-pin-tl;
    animation-range: contain 0% contain 100%;
  }

  .slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 8vw;
    width: 100%;
    overflow: hidden;
  }

  .info {
    h2 {
      width: 70%;
      text-align: center;
    }

    p {
      width: 70%;
      font-size: calc(1.1vw + 0.5em);
      font-family: "VT323", serif;
      font-weight: 400;
      font-style: normal;
      text-shadow: 0px 0.5px 3px black;
      text-align: center;
    }
  }

  .item {
    width: 60%;
    height: 65%;
  }

  #img1 {
    -webkit-animation: rotate-out-tl 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: rotate-out-tl 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation-timeline: --section-pin-tl;
    animation-range: contain 10% contain 50%;
  }
  #img2 {
    -webkit-animation: rotate-out-tl 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: rotate-out-tl 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation-timeline: --section-pin-tl;
    animation-range: contain 60% contain 80%;
  }
  #img3 {
    -webkit-animation: rotate-out-tl 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: rotate-out-tl 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation-timeline: --section-pin-tl;
    animation-range: cover 83% 95%;
  }
</style>
